.container {
    display: flex;
    column-gap: 10px;
}
.container i {
    font-size: 28px;
}

.notif{
    position: relative;
}
:root {
    --dimension : 20px;
}

.bell {
    position: absolute;
    top : -12%;
    right: 30%;
    width: var(--dimension);
    height: var(--dimension);
    border-radius: 50%;
    background: #f00;
    color : #fff;
    font-family: 'Questrial';
    text-align: center;
    line-height:var(--dimension);
    font-size: 12px;
    
}