.table-row{
    cursor:pointer;
}
.table-param{
    height: 300px;
    width: 80%;
    margin-top:50px;
    margin-left: 18%;
}
.userform {
    width: 80%;
    margin: 50px auto;
    height: auto;
    height: 520px;
    box-shadow: 5px 9px 21px 0 rgb(46, 61, 73,  20%);
}